:root {
    --bg-dark: #000;
    --bg-light: #FFF;
    --text-dark: #000;
    --text-light: #f5f5f7;
    --text-grey: rgb(105, 105, 105);
    --btn-color: #06c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
}

nav {
    background: var(--bg-dark);
    width: 100%;
    height: 44px;
    font-size: 17px;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li, i, a {
    margin: 1.3rem;
    position: relative;
    bottom: 5px;
}

nav li:hover{
    filter: brightness(125%);
}

nav a {
    color: var(--text-light);
}

nav i {
    color: var(--text-light);
    cursor: pointer;
    position: relative;
    bottom: 10px;
}

/* iPhone 12 */
.heading {
    background-color: #fbfbfd;
    text-align: center;
    padding: 10px;
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 100;
    height: 44px;
}

.heading a {
    position: relative;
    top: 0.5px;
    left: 15px;
    color: var(--btn-color);
}

.showcase {
    text-align: center;
}

.showcase h2 {
    font-size: 3.5rem;
    margin-bottom: -15px;
}

.showcase a {
    color: var(--btn-color);
    font-size: 1rem;
}

.showcase img {
    max-height: 624px;
    /* max-height: 835px; */
}

.showcase i {
    position: relative;
    top: 2px;
    left: -10px;
}

.text-top {
    font-size: 2rem;
}

.text-middle,
.text-bottom {
    color: var(--text-grey);
}

/* Side by Side section */
.row {
    display: flex;
    margin: 0 auto;
}

.row h2 {
    font-size: 3rem;
}

.row p {
    font-size: 2rem;
}

.row i {
    position: relative;
    top: 2px;
    left: -10px;
}

.row-item {
    text-align: center;
    margin: 15px;
}

.row-item-arcade {
    text-align: center;
    margin: 15px;
    position: relative;
    top: -85px;
}

.row-img {
    max-width: 891px;
    max-height: 468px;
}

/* Legal */
.legal-container {
    background: var(--text-light);
    /* color: #1d1d1f; */
    color: var(--text-grey);
    font-size: 10px;
    letter-spacing: .01em;
    max-width: 969px;
    margin: 0 auto;
}

.footnote {
    padding: 10px;
}